<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign-in</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.674342678456-hqoorcuksdn23e2hdvsliq6ch6j2o06i</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>674342678456-hqoorcuksdn23e2hdvsliq6ch6j2o06i.apps.googleusercontent.com</string>
</dict>
</plist>
